@{
    ViewBag.Title = "Página Inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string idioma = Session["Idioma"] != null ? Session["Idioma"].ToString() : "pt";
}

<h2>@Tradutor.Helpers.TradutorHelper.Traduzir("bem vindo", idioma)</h2>

<p>@Tradutor.Helpers.TradutorHelper.Traduzir("bom dia", idioma)</p>

<p>@Tradutor.Helpers.TradutorHelper.Traduzir("obrigada", idioma)</p>
